@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-nunito: var(--font-nunito);
  --font-dm-sans: var(--font-dm-sans);

  --color-*: initial;
  --spacing-*: initial;

  --color-primary-10: #ffd1dc1a;
  --color-primary-50: #ffd1dc80;
  --color-primary-100: #ffe5ec;
  --color-primary-200: #ff92ac;
  --color-primary-300: #ff547d;
  --color-primary-400: #ff154d;
  --color-primary-500: #d50033;
  --color-primary-600: #970024;

  --color-secondary-10: #f8b3cd1a;
  --color-secondary-50: #f8b3cd80;
  --color-secondary-100: #f8b3cd;
  --color-secondary-200: #f37eaa;
  --color-secondary-300: #ee4a88;
  --color-secondary-400: #e91665;
  --color-secondary-500: #b5114f;
  --color-secondary-600: #800c38;

  --color-accent-10: #e8a3bf1a;
  --color-accent-50: #e8a3bf80;
  --color-accent-100: #f3d1df;
  --color-accent-200: #e8a3bf;
  --color-accent-300: #dc729d;
  --color-accent-400: #cf407a;
  --color-accent-500: #a82a5d;
  --color-accent-600: #771e42;

  --color-neutral-10: #3333331a;
  --color-neutral-50: #33333380;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f9f9f9;
  --color-neutral-300: #d2d2d2;
  --color-neutral-400: #bbbbbb;
  --color-neutral-500: #a4a4a4;
  --color-neutral-600: #8e8e8e;
  --color-neutral-700: #777777;
  --color-neutral-800: #606060;
  --color-neutral-900: #4a4a4a;
  --color-neutral-1000: #111111;

  --color-error-10: #ff9aa21a;
  --color-error-50: #ff9aa280;
  --color-error-100: #ffcdd1;
  --color-error-200: #ff9aa2;
  --color-error-300: #ff5a67;
  --color-error-400: #ff1a2c;
  --color-error-500: #d90011;
  --color-error-600: #99000c;

  --color-warning-10: #ffb7b21a;
  --color-warning-50: #ffb7b280;
  --color-warning-100: #ffb7b2;
  --color-warning-200: #ff8178;
  --color-warning-300: #ff4a3e;
  --color-warning-400: #ff1403;
  --color-warning-500: #c80d00;
  --color-warning-600: #8e0900;

  --color-success-10: #b5e5cf1a;
  --color-success-50: #b5e5cf80;
  --color-success-100: #eff6f3;
  --color-success-200: #b5e5cf;
  --color-success-300: #86d4b0;
  --color-success-400: #56c491;
  --color-success-500: #39a171;
  --color-success-600: #206143;

  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-m: 32px;
  --spacing-l: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 96px;
}

h1 {
  @apply font-nunito font-bold text-5xl leading-18 tracking-normal;
}

h2 {
  @apply font-nunito font-bold text-[40px] leading-15 tracking-normal;
}

h3 {
  @apply font-nunito font-bold text-[34px] leading-12.75 tracking-normal;
}

h4 {
  @apply font-nunito font-bold text-[28px] leading-10.5 tracking-normal;
}

h5 {
  @apply font-nunito font-bold text-2xl leading-9 tracking-normal;
}

h6 {
  @apply font-nunito font-bold text-xl leading-7.5 tracking-normal;
}

.b-1 {
  @apply font-dm-sans text-base leading-6 tracking-normal;
}

.b-2 {
  @apply font-dm-sans text-sm leading-5.25 tracking-normal;
}

.b-3 {
  @apply font-dm-sans text-xs leading-4.5 tracking-normal;
}

.b-4 {
  @apply font-dm-sans text-[10px] leading-3.75 tracking-normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
